<nav class="nav-menu">
    <a href="/" class="nav-link">Inicio</a>
    <a href="/grupos-investigacion" class="nav-link">Grupos de investigación</a>
    <a href="/semilleros" class="nav-link">Semilleros</a>
    <a href="/participa-grupo" class="nav-link">Participa grupo</a>
    <a href="/participa-semillero" class="nav-link">Participa semillero</a>
    <a href="/relaciones-lineas" class="nav-link">Relaciones de líneas</a>
</nav>
